---
const { platform, username } = Astro.props;
---
  <a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: black;
    background-color: rgb(120, 240, 96);
    text-decoration: none;
  }
</style>