---
const title = 'Manos que Bailan';
const text = 'Curso de lengua de señas Argentina';
const language = ['React', 'NextJS','PrismaSQL','MySQL', 'NodeJs']
---
<div class="card">
    <h1>{title}</h1>
    <p>{text}</p>
    <ul>
        {language.map((lan)=><li class="lan">{lan}</li> )}
    </ul>
    <button><a href="">DEMO</a></button>
</div>

<style>
    .card{
        background: rgb(112, 41, 0);
        
        height: 400px;
        width: 300px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        
        transition: 0.5s;
    }
    .card:hover{
        border: 5px solid white;
        background: rgb(240,149,96);
        box-shadow: 0px 0px 30px 5px rgb(240,149,96);
    }
    .card h1, p, li{
        color: black;
        transition: 0.5;
    }

    .card h1{
        font-size: 30px;
    }

    .card button{
        padding: 10px;
        height: 50px;
        width: 100px;
        border: none;
        border-radius: 10px;
    }

</style>