---
import "./Header.Module.css"
---
<header>
    <h1>Oriana Olaia</h1>
  <nav>
    <div class="nav-links">
      <a href="/">Inicio</a>
      <a href="/about">Sobre mi</a>
    </div>
  </nav>
</header>