---
---
<nav>
    <div class="nav-links">
      <a href="/">Inicio</a>
      <a href="/about">Sobre mi</a>
      <a href="/contact">Contacto</a>
    </div>
</nav>

  <style>
    /*NAVIGATION*/
div{
  padding-right: 2rem;
}
  .nav-links a{
    padding: 1rem;
    color: #f1f5f9; 
    text-decoration: none;
    text-transform: uppercase;
    
    border-radius: 7px;
  }
  .nav-links a:hover,
  .nav-links a:focus {
    background-color: white;
    color: black;
    padding: 1rem;
    transition: 1s;
    border-radius: 7px;
  }
  </style>