---
import Card from "@/components/card/Card.astro";

---
<section class="projects">
    <h1>Proyectos</h1>
    <Card />
</section>

<style>  
  .projects{
      margin: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
</style>