---

---
<section class="habili">
    <h2>Habilidades Tecnicas</h2>
    <div class="lista">
      <h1 class="Skill">Skill</h1>
      <h1 class="Utilites">Utilites</h1>
      <h1 class="Other">Other</h1>
    </div>
  </section>