---
import Image from "astro/components/Image.astro";
---
<section class="presentacion">
    <Image
      src="/assets/ImagenOriOlaia.jpeg"
      alt="Foto Ori Olaia"
      width="350"
      height="350"
      style={{
        filter: "drop-shadow(4px 4px 2px rgba(0, 0, 0, 1))",
        borderRadius: "300px",
      }}
    />
    <div class="description">
      <h2>Programadora desde Argentina</h2>
      <p>
        Soy una apasionada de los videojuegos, streamer donde mayormente
        estoy jugando a juegos variados
      </p>
      <p>GitHub - Linkedin - Codepen - Masto - Twitter - Correo </p>
      <button>CV PDF</button>
      </div>
  </section>