---
import { skillsData } from "@/lib/data";
---
<section class="habili">
    <h2>Habilidades Tecnicas</h2>
    <div class="lista">
      <h3 class="Skill">Lenguajes de programacion</h3>
      <ul>
        {skillsData.programmingLanguages.map((proglan) => <li class="proglan">{proglan}</li>)}
      </ul>
      <h3 class="Utilites">Herramientas</h3>
      <ul>
        {skillsData.utillity.map((utilly) => <li class="utilly">{utilly}</li>)}
      </ul>
      <h3 class="Other">Otro</h3>
      <ul>
        {skillsData.language.map((lang) => <li class="lang">{lang}</li>)}
      </ul>
    </div>
  </section>
  <style>
    .habili{
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
  </style>