---
---

<div>
    <h3>Lenguaje de programacion</h3>
    <ul>
        <li>Astro</li>
        <li>Bootstrap</li>
        <li>React</li>
        <li>Next.js</li>
        <li>Javascript</li>
    </ul>
</div>