---
---
<footer>
  <div class="nav-links">
      <a href="/">Inicio</a>
      <a href="/about">Sobre mi</a>
    </div>
    <div class="social">
      <h1>GitHub</h1>
      <h1>Linkedin</h1>
    </div>
    

</footer>
<style>
  footer {
  background-color: rgb(0, 0, 0);
  display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 2rem;
    gap: 1rem;
  }
  
  /*NAVIGATION*/
  
  .nav-links a{
    padding: 1rem;
    color: #f1f5f9; 
    text-decoration: none;
    text-transform: uppercase;
    
    border-radius: 7px;
  }
  .nav-links a:hover,
  .nav-links a:focus {
    background-color: white;
    color: black;
    padding: 1rem;
    transition: 1s;
    border-radius: 7px;
  }
</style>