---
import Social from '../Social.astro';
import "./Footer.Module.css"
---
<footer>
  <div class="nav-links">
      <a href="/">Inicio</a>
      <a href="/about">Sobre mi</a>
    </div>
    <div class="social">
      <Social platform="github" username="OriOlaia" />
      <Social platform="linkedin" username="OrianaOlaia" />
    </div>
    

</footer>